# Condition

## If statement

In [1]:
if 'bruh' in ['0alah', 'nice']:
    print('ada')
    if 20>59:
        print('mangea')
print('gada')

gada

## Else and elif clauses

In [2]:
hargaBuku = 20000
hargaMajalah = 50000
uang = 20000

if uang >= hargaBuku:
    print('beli buku')
elif uang > hargaMajalah:
    print('beli majalah')
if uang > 70000:
    print('gas beli 22nya')
else:
    print('gausa beli')
    
if uang == 20000: print('buku'); print('buy')

beli buku
gausa beli
buku
buy

## Conditional expression

In [3]:
raining = False
print('gas ke', 'anu' if not raining else 'rumah')

gas ke anu

In [4]:
age = 4
s = 'teen' if age <22 or age > 15 else 'adult'
s

'teen'

In [5]:
'ya' if ('anjay' in ['anjay', 'abang']) else "gd"

'ya'

In [6]:
a = 555
b = 5
m = a if a>b else b
m

555

In [7]:
if True:
    pass #skip 
print('a')

a

## While Loop

In [8]:
n = 5
while n > 0:
    n -= 1
    print(n)

i = 2
while i < 6:
    print(i)
    i +=1

4
3
2
1
0
2
3
4
5

## Break n Continue statement

In [9]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break
    print(n)
print('ended')

n = 5
while n > 0:
    n -= 1
    if n==2:
        continue
    print(n)
print('end')

#Else clause
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue #kl break elsenya skip
    print(n)
else: print('p')

4
3
ended
4
3
1
0
end
4
3
1
0
p

## Nested while loop

In [10]:
age = 'umur'
gender = 'gender'

if age < 18:
    if gender == 'M':
        print('bcil')
    else:
        print('b0cil cwe')
elif age >=18 and age < 65:
    if gender == 'M':
        print('bapak2')
    elif gender == 'F':
        print('ibu2')
    else:
        print('non biner')
else:
    print('tua')
    
#bisa if while loop juga digabung2

TypeError: '<' not supported between instances of 'str' and 'int'

# Definite Iteration

### Numeric Range loop

In [ ]:
for i = 2 to 20

### Three Expression loop

for (i = 2; i<= 20; i++)

## The phyton for loop

In [ ]:
a = ['aa', 'ss']
for i in a:
    print(i)

### Iterating Through a Dictionary

In [ ]:
b = {'aa':1 , 'ss':2}
for k in b:
    print(k)
    print(b[k])

for k in b.values():
    print(k)
    
for k, v in b.items():
    print(k, ':', v)

### The range() Function

In [ ]:
x = range(5)
for n in x:
    print(n)

### Altering for Loop Behavior

In [11]:
#The break and continue statement
for i in ['aa', 'ss']:
    if 'ss' in i:
        break 
    print(i)
print('anjay')
print('--------------------------')
for i in ['aa', 'ss', 'pp']:
    if 'ss' in i:
        continue #skipped the list
    print(i)
print('anjay')
print('------------------------')

#The else clause
for i in ['aa', 'ss', 'pp']:
    print(i)
else: #berlaku jg kl di break, elsenya gaikutan
    print('anjay')

aa
anjay
--------------------------
aa
pp
anjay
------------------------
aa
ss
pp
anjay

In [13]:
while True:
    print('program ubah suhu')
    temp = input('ketik temperature yang ingin dikonversi, eg. 45F, 120C: ')
    if len(temp) > 1:
        degree = int(temp[:-1]) #ambil nilai kecuali last one
        i_convertion = temp[-1].upper() #ambil the last one
    else:
        print('masukin yg bener bg')
        continue
    50
    if i_convertion == 'C':
        result = int(round((9 * degree) / 5+32))
        unit = 'Fahrenheit'
    elif i_convertion == 'F':
        result = int(round((degree - 32) * 5/9))
        unit = 'celcius'
    else:
        print('masukkan input yg benar')
        continue
    print('temperaturenya yaitu', result, 'derajat', unit)
    
    conf = input('coba lg ga bg? yay/nay').lower()
    if conf == 'yay':
        pass
    elif conf == 'nay':
        print('tengs')
        break
    else:
        print('hah, yay or nay?')

program ubah suhu
ketik temperature yang ingin dikonversi, eg. 45F, 120C: 22c
temperaturenya yaitu 72 derajat Fahrenheit
coba lg ga bg? yay/naynay
tengs